@(users: List[User])(implicit request: play.api.mvc.Request[Any], userRole: UserRole)

@main("User List") {
    @utils.filter()
    @for(user <- users) {
        <div class="user-listing">
            @user.firstName @user.lastName
            <form method="POST" action="@routes.UserController.delete(user.id)">
                <span class="pull-right"><button type="submit" class="btn btn-danger user-delete">Delete</button></span>
            </form>
            <span class="lab">@user.lab.name</span>
        </div>
    }
}