@(users: List[User])(implicit request: play.api.mvc.Request[Any], userRole: UserRole)

@main("User List") {
    @utils.filter()
    @for(user <- users) {
        <div class="user-listing">
            @user.firstName @user.lastName
            <span class="pull-right"><button role="button" data-trigger="focus" class="btn btn-delete btn-danger user-delete">Delete</button></span>
            <script>
                $('.btn-delete').popover({
                    container: 'body',
                    placement:"top",
                    html:'true',
                    title:'<span class="text-info"><strong>Sure?</strong></span>',
                    content:'<form method="POST" action="@routes.UserController.delete(user.id)"><button type="submit" class="btn btn-danger">Yes</button></form>'
                });
            </script>
            <span class="lab">@user.lab.name</span>
        </div>
    }
}