@(userForm: Form[UserController.SimpleUser], user: User)(implicit request: play.api.mvc.Request[Any], userRole: UserRole)
@import views.html.helper._
@import utils._

@main("New User") {
    @helper.form(routes.UserController.create, 'class -> "form-horizontal") {
        @bootstrapErrors(userForm.errors, "user")
        @bootstrapInput(userForm("firstName"), label="First Name", size = 3)
        @bootstrapInput(userForm("lastName"), label="Last Name", size = 3)
        @bootstrapInput(userForm("email"), label="Email *", size = 4)
        @bootstrapPassword(userForm("password"), size = 3)
        @bootstrapPassword(userForm("repeatPassword"), "Repeat password", 3)
        @if(user.role == Moderator) {
        <span style="display: none;">
            @bootstrapInput(userForm("newUserRole"), "New user role *", 2, disabled = true, "Contributor")
            @bootstrapSelect(userForm("labId"), List((user.lab.id.toString, user.lab.name)), "Lab *", disabled = true)
        </span>
        } else {
            @bootstrapSelect(userForm("newUserRole"), User.loggedUserRoleList.map(r => (r, r)).reverse, "New user role *", 2)
            @bootstrapSelect(userForm("labId"), Lab.listAll.map(l => (l.id.toString, l.name)), "Lab *")
        }
        @bootstrapSubmit()
    }
}