@(labs: List[Lab])(implicit request: play.api.mvc.Request[Any], userRole: UserRole)

@displayLab(lab: Lab) = {
    <div class="listing">
        @if(lab.logoId.isDefined) {
            <img height="100" src="@routes.LabController.logo(lab.id).url">
        }
        <div class="content">
            <h4>@lab.acronym</h4>
            @lab.name
            <span class="pull-right"><button role="button" data-trigger="focus" class="btn btn-delete btn-danger btn-lab">Delete</button></span>

            <script>
                $('.btn-delete').popover({
                    container: 'body',
                    placement:"top",
                    html:'true',
                    title:'<span class="text-info"><strong>Sure?</strong></span>',
                    content:'<form method="POST" action="@routes.LabController.delete(lab.id)"><button type="submit" class="btn btn-danger">Yes</button></form>'
                });
            </script>
            <span class="pull-right">
                <form method="GET" action="@routes.LabController.modify(lab.id)">
                    <button type="submit" class="btn btn-warning">Modify</button>
                </form></span>
            <span class="pull-right">
                <form method="GET" action="@routes.ConferenceController.downloadCSVForLab(lab.id)">
                    <button type="submit" class="btn btn-default btn-lab">Download Seminars</button>
                </form>
            </span>
        </div>
    </div>
}

@main("Lab List") {
    @utils.filter()
    @for(lab <- labs) {
        @displayLab(lab)
    }
}