@(labs: List[Lab])(implicit request: play.api.mvc.Request[Any], userRole: UserRole)

@displayLab(lab: Lab) = {
    <div class="listing lab-listing">
        @if(lab.logoId.isDefined) {
            <img height="100" src="@routes.LabController.logo(lab.id).url">
        }
        <div class="content">
            <h4>@lab.acronym</h4>
            @lab.name
            <form method="POST" action="@routes.LabController.delete(lab.id)">
                <span class="pull-right"><button type="submit" class="btn btn-danger user-delete">Delete</button></span>
            </form>
        </div>
    </div>
}

@main("Index") {
    @for(lab <- labs) {
        @displayLab(lab)
    }
}