@(labForm: Form[LabController.SimpleLab])(implicit request: play.api.mvc.Request[Any], userRole: UserRole)
@import views.html.helper._
@import utils._

@main("New Lab") {
    @helper.form(routes.LabController.create, 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
        @bootstrapErrors(labForm.errors, "lab")
        @bootstrapInput(labForm("acronym"))
        @bootstrapInput(labForm("name"))
        @bootstrapInput(labForm("email"), label="Email *")
        <p>Select the logo of the new lab (must be either a JPEG or a PNG, under 4MB):</p>
        <input type="file" name="logo">
        @bootstrapSubmit()
    }
}