@(conferenceForm: Form[ConferenceController.SimpleConference])(implicit request: play.api.mvc.Request[Any], userRole: UserRole)

@main("Add a new conference") {
    @helper.form(routes.ConferenceController.create) {
        @helper.inputText(conferenceForm("title"))
        @helper.textarea(conferenceForm("abstract"))
        @helper.inputText(conferenceForm("speaker"))
        @helper.inputDate(conferenceForm("Date"))
        @helper.inputText(conferenceForm("length"))
        @helper.inputText(conferenceForm("organizer"))
        <input type="submit">
    }
}