@(conferenceForm: Form[ConferenceController.SimpleConference])(implicit request: play.api.mvc.Request[Any], userRole: UserRole)
@import utils._

@main("Add a new conference") {
    <script src='@routes.Assets.at("javascripts/conferenceForm.js")' type="text/javascript"></script>

    @helper.form(routes.ConferenceController.create, 'class -> "form-horizontal") {
        <input type="hidden" id="timezoneOffset" name="timezoneOffset">
        @bootstrapErrors(conferenceForm.errors, "conference")
        @bootstrapInput(conferenceForm("title"))
        <div class="form-group">
            <label for="abstract" class="col-sm-2 control-label">Abstract</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="abstract" name="abstract">@conferenceForm("abstract").value.getOrElse("")</textarea>
            </div>
        </div>

        <!-- Speaker selection or adding -->
        @if(conferenceForm("speaker").value.exists(_ == "-1")) {
            @bootstrapSelect(conferenceForm("speaker"), Speaker.listAll.map(s => (s.id.toString, s.firstName + " " + s.lastName)) :+ ("-1", "New Speaker"))
        } else {
            @bootstrapSelect(conferenceForm("speaker"), Speaker.listAll.map(s => (s.id.toString, s.firstName + " " + s.lastName)))
        }
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="realign-with-fields">
                Or <button id="toggleNewSpeaker" type=button class="btn btn-default" data-toggle="new-speaker" data-target="#new-speaker">
                        Add new speaker
                   </button>
            </div>
        </div>
        <div class="new-speaker" id="new-speaker">
            @bootstrapSelect(conferenceForm("speakerTitle"), List("Dr", "Pr", "Ms", "Mr").map(t => (t, t)), size = 2, label="Title")
            @bootstrapInput(conferenceForm("firstName"), "First name")
            @bootstrapInput(conferenceForm("lastName"), "Last name")
            @bootstrapInput(conferenceForm("email"), "Email")
            @bootstrapInput(conferenceForm("team"), "Team")
            @bootstrapInput(conferenceForm("organisation"), "Organisation")
        </div>

        <!-- Location selection or adding -->
        @if(conferenceForm("location").value.exists(_ == "-1")) {
            @bootstrapSelect(conferenceForm("location"), Location.listAll.map(l => (l.id.toString, l.instituteName + " - " + l.roomDesignation)) :+ ("-1", "New Location"))
        } else {
            @bootstrapSelect(conferenceForm("location"), Location.listAll.map(l => (l.id.toString, l.instituteName + " - " + l.roomDesignation)))
        }

        <div class="form-group">
            <label for="datepicker" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="datepicker" name="date" value='@conferenceForm("date").value.getOrElse("")'>
            </div>
            <label for="timepicker" class="col-sm-1 control-label">Time</label>
            <div class="col-sm-2">
                <input id="timepicker" type="text" name="time" class="form-control time-input" value='@conferenceForm("time").value.getOrElse("")'>
            </div>
        </div>
        <div class="form-group">
            <label for="length" class="col-sm-2 control-label">Length</label>
            <div class="col-sm-2">
                <input type="text" class="form-control time-input" id="length" name="length" value='@conferenceForm("length").value.getOrElse("")'>
            </div>
        </div>
        @bootstrapSelect(conferenceForm("private"), List(("true", "Yes"),("false", "No")))
        @bootstrapSelect(conferenceForm("organizer"), Lab.listAll.map(l => (l.id.toString, l.name)))
        @bootstrapSubmit()
    }
}