@(confs: List[Conference])(implicit request: play.api.mvc.Request[Any], userRole: UserRole)

@displayAllowableConfListing(conf: Conference) = {
    <div class="listing">
        <h4>@conf.title <span class="speaker-name">@conf.speaker.fullName</span><span class="time-to-conf"> in @conf.dateDisplayFormat</span></h4>
        <p>@conf.abstr</p>
        <div class="conference-buttons">
            <form method="GET" action="@routes.ConferenceController.modifyConf(conf.id)">
                <button type="submit" class="btn btn-warning">Modify</button>
            </form>
            <form method="POST" action="@routes.ConferenceController.accept(conf.id, None)">
                <button type="submit" class="btn btn-success">Accept</button>
            </form>
            <form method="POST" action="@routes.ConferenceController.refuse(conf.id, None)">
                <button type="submit" class="btn btn-danger">Refuse</button>
            </form>
        </div>
    </div>
}

@main("Allow conferences"){
    @if(confs.isEmpty) {
        <h5>No conferences proposals to accept</h5>
    } else {
        @for(conf <- confs) {
            @displayAllowableConfListing(conf)
        }
    }
}