@(labGroups: List[LabGroup])(implicit request: play.api.mvc.Request[Any], userRole: UserRole)

@displayLabGroup(labGroup: LabGroup) = {
    <div class="user-listing">
            @labGroup.name
            <span class="pull-right"><button role="button" data-trigger="focus" class="btn btn-delete btn-danger margin-left: 15px;margin-top: -4px;padding: 2px 5px;">Delete</button></span>
            <script>
                $('.btn-delete').popover({
                    placement:"top",
                    html:'true',
                    title:'<span class="text-info"><strong>Sure?</strong></span>',
                    content:'<form method="POST" action="@routes.LabGroupController.delete(labGroup.id)"><button type="submit" class="btn btn-danger">Yes</button></form>'
                });
            </script>
            <span class="pull-right">
                <form method="GET" action="@routes.LabGroupController.listLabOfGroup(labGroup.id, None)">
                    <button type="submit" class="btn btn-default margin-left: 15px;margin-top: -4px;padding: 2px 5px;">List Lab</button>
                </form>
            </span>
            <span class="pull-right">
                <form method="GET" action="@routes.LabGroupController.listLabToAdd(labGroup.id, None)">
                    <button type="submit" class="btn btn-success margin-left: 15px;margin-top: -4px;padding: 2px 5px;">Add Lab</button>
                </form>
            </span>
    </div>
}

@main("LabGroup List") {
    @utils.filter()
    @for(labGroup <- labGroups) {
        @displayLabGroup(labGroup)
    }
}