@(implicit request: play.api.mvc.Request[Any], userRole: UserRole)

@main("Mentions légales et Crédits") {
    Conditions générales d’utilisation du site Bio-Conf/Bio-Hebdo Agenda

    <h4>Informations générales</h4>
    <p>
    Le site Bio-Conf/Bio-Hebdo Agenda est une publication de la SFR Bioscience Gerland Lyon-Sud</br>
    Directeur de la publication : Jacqueline Marvel, Directrice de la SFR BioScience Gerland Lyon-Sud</br>
    Directeur de la rédaction :  …………..</br>
    Webmestres :   Henri Gruffat & Denis Gerlier</br>
    </p>

    <p>Hébergement : ENS de Lyon</p>

    <p>Support financiers : ARC1 Santé de la Région Rhône-Alpes, SFR BioSciences Gerland Lyon Sud</p>

    <p>L’application « Confscheduler » est une création originale de Thomas Poinsot, d’après un concept de Denis Gerlier (CIRI, Centre International de Recherche en Infectiologie avec la participation d’Henri Gruffat (CIRI), Didier Décimo (CIRI), Gilbert Deléage (IBCP, Institut de Biochimie des protéines) et de Nicolas Carel (ENS de Lyon)</p>

    <h4>Utilisation du site Bio-Conf/Bio-Hebdo Agenda</h4>

    <p>L’utilisation du site est réservée à un usage personnel.</p>

    <p>L’accès au site peut être interrompu à tout moment, sans préavis, notamment en cas de force majeure, de maintenance ou si l’ENS de Lyon décide de suspendre ou d’arrêter la fourniture de ce service. L’obligation de fourniture du service se limite donc à une obligation de moyens.</p>

    <h4>Contenu du site</h4>

    <p>La SFR s’efforce d’assurer au mieux de ses possibilités, l’exactitude et la mise à jour des informations diffusées, au moment de leur mise en ligne sur le site. Cependant, l’ENS de Lyon ne garantit en aucune façon l’exactitude, la précision ou l’exhaustivité des informations mises à disposition sur le site. Les informations présentes sur le site sont non-contractuelles et peuvent être modifiées à tout moment.
    </p>
    <p>Le site est régi par la loi française. Les utilisateurs étrangers acceptent formellement l’application de la loi française en visitant ce site et en utilisant tout ou partie des fonctionnalités du site.</p>

    <h4>Propriété intellectuelle</h4>

    <p>Les contenus, les textes, y compris les communiqués de presse, les vidéos, les images et les animations qui apparaissent ou sont disponibles sur le site, sont protégés par le droit de la propriété intellectuelle et sont la propriété exclusive de …………... A ce titre, vous vous engagez à ne pas copier, traduire, reproduire, vendre, publier, exploiter et diffuser des contenus du site protégés par le droit de la propriété intellectuelle, sans autorisation préalable et écrite de ……………...</p>

    <p>Les marques et les logos présents sur le site sont, sauf cas particulier, la propriété de la SFR BioSciences, de l’ENS de Lyon ou des établissements partenaires. Sauf autorisation préalable et écrite, l’internaute s’interdit de les utiliser.</p>

    <p>La SFR BioSciences et l’ENS de Lyon consentent toutefois à l’internaute le droit de reproduire tout ou partie du contenu du site, en un exemplaire pour copie de sauvegarde ou tirage sur papier. Ce droit est consenti dans le cadre d’un usage strictement personnel, privé et non collectif.</p>

    <h4>Vie privée</h4>

    <p>Aucune information personnelle n’est collectée à votre insu.
    Aucune information personnelle n’est cédée à des tiers.</p>

    <h4>Liens</h4>

    <p>Le site peut contenir des liens vers des sites de partenaires ou de tiers. L’ENS de Lyon ne disposant d’aucun moyen pour contrôler ces sites n’offre aucune garantie quant au respect par ces sites des lois et règlement en vigueur.</p>

    <h4>Alerte démarchage</h4>

    <p>L’ENS de Lyon ne vend aucun emplacement publicitaire dans ses revues. Toute démarche en ce sens, est faite en fraude des droits de l’ENS de Lyon.</p>

    <h4>Modifications</h4>

    <p>L’ENS de Lyon se réserve le droit de modifier, sans préavis, les présentes conditions générales d’utilisation du site Bio-Conf/Bio-Hebdo Agenda</p>
}
