@(title: String)(content: Html)(implicit request: play.api.mvc.Request[Any], userRole: UserRole)

@logoHeight() = {50px}
        
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="alternate" type="application/rss+xml" title="External Seminar Feed" href="/rss">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/fullcalendar.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.structure.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.timepicker.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/moment.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/fullcalendar.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.timepicker.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <div class="container main">
        @topMenu(request, userRole)
        <hr>
        <div class="container">
            <div class="col-md-2 sideMenu">
                @sideMenu(request, userRole)
            </div>
            <div class="col-md-10 mainPanel">
                @flashing(request.flash)
                @content
            </div>
        </div>
        <div class="footer">
            <div class="logos">
                <img src="/assets/logos/logo-arc1-72dpi2.jpg" height="@logoHeight">
                <img src="/assets/logos/logo-sfr.png" height="@logoHeight">
                <img src="/assets/logos/Logo_ENS.png" height="@logoHeight">
                <img src="/assets/logos/CIRI-rond.png" height="@logoHeight">
                <img src="/assets/logos/inserm.fr.gif" height="@logoHeight">
                <img src="/assets/logos/Logo UCBL.jpg" height="@logoHeight">
                <img src="/assets/logos/CNRSfr-grand.jpg" height="@logoHeight">
            </div>
            <div class="feeds">
                <a href="/rss"><img src="/assets/logos/feed-icon-32x32.jpg" height="14px"> RSS Feed</a>
            </div>
            <div class="attribution">
                <a href="@routes.Application.legals().toString">Mentions légales et Crédits</a>
            </div>
            <div class="attribution">
                Powered by ConfScheduler, by Thomas Poinsot
            </div>
        </div>
    </div>
    </body>
</html>

