@(implicit request: play.api.mvc.Request[Any], userRole: UserRole)

@genMenu(role: UserRole) = {
    @if(role != Guest) {
        @utils.activeLi("Add Seminar", routes.ConferenceController.addConf)
    }
    @if(role == Moderator || role == Administrator) {
        @utils.activeLi("Accept Seminars", routes.ConferenceController.allowList)
    }
    @if(role == Moderator) {
        <hr>
        @utils.activeLi("List Contributors",  routes.UserController.list(None))
        @utils.activeLi("Add Contributor", routes.UserController.newUser(Some("Contributor")))
    }
    @if(role == Administrator) {
        <hr>
        @utils.activeLi("List Users",  routes.UserController.list(None))
        @utils.activeLi("Add User",  routes.UserController.newUser(None))
        <hr>
        @utils.activeLi("List Labs",  routes.LabController.list(None))
        @utils.activeLi("Add Lab",  routes.LabController.newLab)
        <hr>
        @utils.activeLi("List Lab Groups",  routes.LabGroupController.list(None))
        @utils.activeLi("Add Lab Group",  routes.LabGroupController.newLabGroup)
    }
}

<ul class="nav nav-pills nav-stacked">
    @utils.activeLi("Upcoming Seminars", routes.ConferenceController.listUpcomingConfs(None))
    @utils.activeLi("All Seminars", routes.ConferenceController.listConfs(None))
    @utils.activeLi("Seminar Calendar", routes.ConferenceController.calendar)
    @genMenu(userRole)
</ul>
