@(implicit request: play.api.mvc.Request[Any], userRole: UserRole)

@genMenu(role: UserRole) = {
    @if(role != Guest) {
        @utils.activeLi("Add Conference", routes.ConferenceController.addConf)
    }
    @if(role == Moderator || role == Administrator) {
        @utils.activeLi("Accept Conferences", routes.ConferenceController.allowList)
    }
    @if(role == Moderator) {
        <hr>
        @utils.activeLi("Add Contributor", routes.UserController.newUser(Some("Contributor")))
    }
    @if(role == Administrator) {
        <hr>
        @utils.activeLi("Add User",  routes.UserController.newUser(None))
    }
    @if(role == Administrator) {
        <hr>
        @utils.activeLi("List Labs",  routes.LabController.list)
        @utils.activeLi("Add Lab",  routes.LabController.newLab)
    }
}

<ul class="nav nav-pills nav-stacked">
    @utils.activeLi("Upcoming Conferences", routes.ConferenceController.listUpcomingConfs)
    @utils.activeLi("All Conferences", routes.ConferenceController.listConfs)
    @utils.activeLi("Conferences Calendar", routes.ConferenceController.calendar)
    @genMenu(userRole)
</ul>
