@(implicit request: play.api.mvc.Request[Any])

@activeLi(text: String, pattern: String, route: play.api.mvc.Call)(implicit request: play.api.mvc.Request[Any]) = {
    @if(request.uri.endsWith(pattern)) {
        <li><a href="@route" class="active">@text</a></li>
    } else {
        <li><a href="@route">@text</a></li>
    }
}

<ul class="nav nav-pills topMenu">
  @activeLi("Upcoming Conferences",        "/conf",     routes.ConferenceController.listConfs)
  @activeLi("Public Conferences Calendar", "/calendar", routes.ConferenceController.calendar)
  @activeLi("Add a conference",            "/conf/new", routes.ConferenceController.addConf)
  <li class="pull-right"><a href="@routes.LoginController.login">Login</a></li>
</ul>